/* Couleur navbar */
.Accueil {
  background-color: rgb(208,208,208);
  --menuBurgerColor: invert(0);
}
.Angular {
  background-color: rgb(226, 50, 55);
  --menuBurgerColor: invert(1);
}
.Javascript {
  background-color: rgb(240, 217, 29);
  --menuBurgerColor: invert(0);
}
.MonCompte {
  background-color: rgb(208,208,208);
  --menuBurgerColor: invert(0);
}

/* ChaptersMenu */
#sectionNavbarLg {
  background-color: #f8f9fa;
}
/* remove dropdown arrow (petite flèche) */
.dropdown-toggle::after {
  display:none;
}

.nav-link {
  cursor: pointer;

}
.navbarDark a , .navbarDark span{
  color:whitesmoke;
}

.navbarLight a , .navbarLight span{
  color: black;
}

.navbarDark span , .navbarLight span {
  font-size: small;
}

.active {
  font-weight: bold;
}

.containerFlex {
  display: flex;
}

/* Navbar Mobile */
#navbarMobile {
  height: 50px;
}
#menuBurger {
  filter: var(--menuBurgerColor);
}
#appliMenuMobile , #sectionMenuMobile {
  z-index: 1;
}
.appliMenuItemMobile{
  height: 50px;
}

.style80{
  height: 80%;
}
.style100 {
  height: 100%;
}