.Angular {
  background-color: rgb(226, 50, 55);
}
.Accueil {
  background-color: rgb(208,208,208);
}
.Javascript {
  background-color: rgb(240, 217, 29);
}

.nav-link {
  cursor: pointer;

}
.navbarDark a{
  color:whitesmoke;
}

.navbarLight a {
  color: black;
}

.active {
  font-weight: bold;
}

.containerFlex {
  display: flex;
}

