/* RESULTS TO SHOW */
#resultToShow {
  position: absolute;
  background-color: ivory;
  color: black;
  width: 150%;
  margin-top: 1px;
  border: solid 1px black;
  border-radius: 3px;
  z-index: 5;
}

@media screen and (min-width: 960px){
  #resultToShow {
    right: 25%;
    width: 500px;
  }
}

#resultToShow > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#resultToShow li {
  border-bottom: solid 1px rgb(238, 232, 232);
}

#resultToShow li:last-child {
  border: none;
}

#resultToShow a {
    display: block;
    cursor: pointer;
    color: #41474D;
    padding: 3%;
}

#resultToShow a:hover , #resultToShow a:focus {
    background-color: rgb(238, 232, 232);
    text-decoration: none;
}

.logoSection {
  width: 20px;
  max-height: 20px;
}



/* Version Mobile */
@media screen and (max-width: 959px){
  .form-control {
    background-color: transparent;
    color: rgb(41, 43, 46);
    padding: 5px 10px;
    height: 40px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px;
  }
  ::placeholder {
    color: rgb(41, 43, 46);
  }
  .NavbarThemeIsDark {
    color: whitesmoke;
  }
  .NavbarThemeIsDark::placeholder {
    color: rgb(252, 252, 252);
  }
  #resultToShow {
    position: fixed;
    background-color: ivory;
    top: 110px;
    left: 0px;
    max-height:1000px;
    max-width: 100%;
    color: black;
    margin-top: 1px;
    border: solid 1px black;
    border-radius: 3px;
    z-index: 999;
  }
}