/* You can add global styles to this file, and also import other style files */
/* Bouton pour remonter en haut de page */
a.back-to-top {
  display: none;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background-image: url("./assets/Pictures/up-arrow.png");
  color: white;
  filter: var(--logoUpArrowColor);
}

/* Classes Themes */
.darkTheme{
  background-color: #41474D;
  color: #E5E5E5;
  --codeKeyword: rgb(61, 255, 251);
  --codeFunction: rgb(255, 145, 167);
  --codeString: rgb(163, 248, 142);
  --listMenuLeftServiceBackgroundColor: #41474D;
  --listMenuLeftServiceColor: #E5E5E5;
  --listMenuLeftServiceBorderColor: #F8F9FA;
  --listMenuLeftServiceBackgroundColorActive: #3b9aff;
  --logoUpArrowColor: invert(1);
  --jumbotronBackground: rgb(223,223,223);
  --jumbotronColor: #41474D;
}
.lightTheme{
  background-color: #ffffff;
  color: #41474D;
  --codeKeyword: rgb(0, 119, 178);
  --codeFunction: rgb(221, 74, 104);
  --codeString: rgb(102, 153, 0);
  --listMenuLeftServiceBackgroundColor: #ffffff;
  --listMenuLeftServiceColor: #41474D;
  --listMenuLeftServiceBorderColor: rgb(223, 223, 223);
  --listMenuLeftServiceBackgroundColorActive: #3b9aff;
  --logoUpArrowColor: invert(0);
  --jumbotronBackground: rgb(223,223,223);
  --jumbotronColor: #41474D;
}

/* Classes pour extrait de code */
.codeKeyword {
  color: var(--codeKeyword);
}
.codeFunction {
  color: var(--codeFunction);
}
.codeString {
  color: var(--codeString);
}
.codeRegex {
  color:orange;
}

/* classes */
.jumbotron {
  background-color: var(--jumbotronBackground);
  color: var(--jumbotronColor);
}
