/* You can add global styles to this file, and also import other style files */
/* Classes Themes */
.darkTheme {
  --backgroundColor: #41474d;
  --color: #e5e5e5;
  --codeKeyword: rgb(59, 126, 214);
  --codeFunction: rgb(255, 145, 167);
  --codeString: rgb(163, 248, 142);
  --listMenuLeftServiceBackgroundColor: #41474d;
  --listMenuLeftServiceColor: #e5e5e5;
  --listMenuLeftServiceBorderColor: #f8f9fa;
  --listMenuLeftServiceBackgroundColorActive: #3b9aff;
  --logoUpArrowColor: invert(1);
  --jumbotronBackground: rgb(223, 223, 223);
  --jumbotronColor: #41474d;
  --listGroupItemBackgroundColor: #41474d;
  --listGroupItemBorder: 1px solid rgb(223, 223, 223);
  background-color: var(--backgroundColor);
  color: var(--color);
}
.lightTheme {
  --color: #41474d;
  --codeKeyword: rgb(0, 119, 178);
  --codeFunction: rgb(221, 74, 104);
  --codeString: rgb(102, 153, 0);
  --listMenuLeftServiceBackgroundColor: #ffffff;
  --listMenuLeftServiceColor: #41474d;
  --listMenuLeftServiceBorderColor: rgb(223, 223, 223);
  --listMenuLeftServiceBackgroundColorActive: #3b9aff;
  --logoUpArrowColor: invert(0);
  --jumbotronBackground: rgb(223, 223, 223);
  --jumbotronColor: #41474d;
  --listGroupItemBackgroundColor: #ffffff;
  --listGroupItemBorder: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  color: var(--color) ;
}

/* Classes pour extrait de code */
.codeKeyword {
  color: var(--codeKeyword);
}
.codeFunction {
  color: var(--codeFunction);
}
.codeString {
  color: var(--codeString);
}
.codeRegex {
  color: orange;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

/* Formulaires */
form.submitted input.ng-invalid, input.ng-dirty.ng-invalid {
  border: 1px solid #d9534f;
}
input.ng-valid.ng-dirty{
  border: 1px solid #5cb85c;
}

