@import '../../../../../styles.css';

.list-group-item.active {
    background-color: var(--listMenuLeftServiceBackgroundColorActive);
    color: #ffffff;
}
.list-group-item{
    background-color: var(--listMenuLeftServiceBackgroundColor);
    color: var(--listMenuLeftServiceColor);
    border-color: var(--listMenuLeftServiceBorderColor);
}

